<launch>
    <node pkg="tf" type="static_transform_publisher" name="baselink_to_laser"
     args="0.12 0.0 0.0 0 0 0 base_link laser 10" />

    <node pkg="tf" type="static_transform_publisher" name="baselink2_to_mouse"
     args="0.0 -0.25 0.0 0 0 0 mouse base_link2 10" />

   <node name="serial_node" pkg="rosserial_python" type="serial_node.py" respawn="false" output="log">
           <param name="baud" type="int" value="115200" />
           <param name="port" type="string" value="/dev/ttyACM0"/>
   </node>

<!--
   <node name="mecanum_kinematic" pkg="mecanum_kinematic4" type="mecanum_kinematic4" respawn="false" output="log">
   </node>
-->

</launch>

